* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: Tahoma, sans-serif;
	font-size: 14px;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	margin-left: 5px;
	
}

#wrapper header #archive ul {

	list-style-type: none;
	float: right;
	
	
	
}
#wrapper header #archive ul li {

	float: left;
	margin-left: 15px;
}

#wrapper header #archive a {
	font-size: 10px;
	color: #444444;
	text-decoration: none;

}
 
 header #header {
	background-image: url('images/topnav_divider.png');
	height: 65px;
}

#header h1 {
	float: right;
	color: #FEFFFF;

	margin-top: -3px;
	font-size: 28px;
	
	
}

#header #nav ul  {
		list-style-type: none;
		margin-left: 50px;
		padding-top: 20px;
	
}
#header #nav ul li {
	float: left;
	



	
	
}
#header #nav ul li a {
	
		color: #FEFFFF;
	text-decoration: none;
		font-size: 18px;
			margin: 26px;
	text-transform: capitalize;
}

#content {
	color: #333333;
	text-align: justify;
}

#content h1 {
	font-size: 24px;
	margin: 20px;
}


.clear {
	clear: both;
}
