@model CustomerTotalSalesModel


@{
    ViewData["Title"] = $"Total Sales For Customer {Model.Name}";
}

<h2>@ViewData["Title"]</h2>

<p>
    @Model.Boughtcars.Count() Cars Bought
</p>

<p>
    $@Model.TotalMoneySpent.ToString("F2")
</p>

