article {
  color: #0094ff;
  font-family: consolas;
}



h1::first-letter{
  font-weight: bold;;
 font-family: "Edwardian Script ITC";
 font-size: 60px;
}
h1{
  font-weight: 600;
  margin-bottom: 0px;

}
p {
  margin-top: 0;
}
